*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

button, input, textarea {
    background: none;
    outline: none;
    border: none;
}